mixin chatPreview(data)
    include ../../mixins/avatar/avatar.pug

    .chat-preview(class=attributes.class)
        .chat-preview__avatar
            +mbAvatar(data.avatarSrc, data.contact)
        .chat-preview__last-message.message
            //- вынести в миксин? ↓↓↓
            .message__author=data.contact
            if (data.author=='self')
                .message__text <span style="font-weight: bolder">Вы:</span> #{data.lastMsg}
            else
                .message__text=data.lastMsg
        .chat-preview__update-time=data.updateTime
        if (data.newMsgCounter)
            .chat-preview__new-messages-counter=data.newMsgCounter