mixin mbAvatar(src, alt, size=50)   
    //- mock src
    -
        if (!src || src == '/')
            src=`https://picsum.photos/seed/${alt}/${size}`
    
    img(src=src, alt=alt, width=size, height=size).avatar