extends ../base.pug
include ../../mixins/input/input.pug
include ../../mixins/avatar/avatar.pug
include ../../mixins/button/button.pug


block vars
    - let pageTitle="профиль"
    -   
        //- mock
        let profileData = {
            displayName: "mb",
            firstName: "Михаил",
            secondName: "Быковский",
            login: "mb",
            email: "m.a.bykovsky@yandex.ru",
            phone: "+7 912 345 67 89"
        }; 

block layout-style
    link(rel="stylesheet" href="../../layouts/half-centered.css")

block styles
    link(rel="stylesheet" href="./profile.css")

block main
    #profile__summary
        +mbAvatar("/", "my profile", 130)
        h2 #{profileData.firstName}
    #profile__full
        +mbInput("Почта", "email", "email")(value=profileData.email, disabled).input-field_theme-inline
        +mbInput("Логин", "login")(value=profileData.login, disabled).input-field_theme-inline
        +mbInput("Имя", "first_name")(value=profileData.firstName, disabled).input-field_theme-inline
        +mbInput("Фамилия", "second_name")(value=profileData.secondName, disabled).input-field_theme-inline
        +mbInput("Имя в чате", "display_name")(value=profileData.displayName, disabled).input-field_theme-inline
        +mbInput("Телефон", "phone", "tel")(value=profileData.phone, disabled).input-field_theme-inline
    #profile__settings
        +mbButton.
            submit