mixin inputArea(title, name, type="input", isReq=true)
    -
        let className = (attributes.class) ? `input-area ${attributes.class}` : "input-area";
    
    div(class=className)
        case attributes.class
            when ("primary")
                input(id=name, name=name, type=type, required=isReq, placeholder=title)
            default            
                label(for=name)=title
                input(id=name, name=name, type=type, required=isReq)

